:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fffafd;
  color: #2b2927;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
}

header {
  overflow: auto;
}

::-webkit-scrollbar{
  height: 4px;
  width: 8px;
  background: #f3d0ef;
}
::-webkit-scrollbar-thumb {
  background: #ca7bbe;
  border-radius: 10px;
}
