.nav-bar{
    justify-content: space-between;
    display: flex;
    padding: 0.9rem 0.7rem 0.55rem 0.7rem;
}

.nav-bar-links {
    align-items: center;
    display:flex;
    margin-right: 4rem;
    font-size: 1rem;
}


.nav-link {
    font-weight: 500;
    margin-left: 40px;
    position: relative;
    color: #000;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.nav-link:hover {
    color: #EE95C8;
}

.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #EE95C8;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.nav-bar-line {
    border: 0;
    margin: 0 auto;
    border-top: 1px solid #EE95C8;
    border-bottom: 0.2px solid #EE95C8;
}

.logo {
    width: fit-content;
    margin-left: 4rem;

}

.logo img {
    width: 16rem;
}

.seccontainer{
    padding: 5%;
    background: white;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-bar{
    width: 100%;
    max-width: 500px;
    background: beige;
    display: flex;
    align-items: center;
    border-radius: 60px;
    border-color: none;
    padding: 10px 30px 10px 40px;
    outline: 5px;
}

.domain {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

.register-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 0px;
    font-size: 20px;
    border-radius: 20px;
    border-color: white;
}

.claim-button{
    background-color: black;
    border-radius: 60px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.claim {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    padding: 10px 10px 10px 10px;
    font-weight: bolder;
}

.socialmed{
    width: 500px;
    align-items: center;
}

#ganadinero {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

#simpleway {
    font-family: sans-serif;
    text-align: center;
}
