    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        color:#333;
    }
    /* HEADER */

    .nav-bar{
        justify-content: space-between;
        display: flex;
        padding: 0.9rem 0.7rem 0.55rem 0.7rem;
    }
    
    .nav-bar-links {
        align-items: center;
        display:flex;
        margin-right: 4rem;
        font-size: 1rem;
    }
    
    
    .nav-link {
    font-weight: bold;
        font-family: sans-serif;
        margin-left: 40px;
        position: relative;
        color: #000;
        text-decoration: none;
    }
    
    .nav-link:hover {
        color: #EE95C8;
    }
    
    .nav-link::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #EE95C8;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    
    .nav-link:hover::before {
        transform: scaleX(1);
    }
    
    .nav-bar-line {
        border: 0;
        margin: 0 auto;
        border-top: 1px solid #EE95C8;
        border-bottom: 0.2px solid #EE95C8;
    }
    
    .logo {
        width: fit-content;
        margin-left: 4rem;
    
    }
    
    .logo img {
        width: 16rem;
    }
    

    @media (max-width: 880px) {
        .nav-bar {
            flex-direction: column;
            background-color:rgb(252, 252, 252);
        }
        .logo {
            margin-left: 1rem;
        }
    
        .logo img {
            width: 10rem;
        }
    
        .nav-toggle-button {
            display: flex;
        }
    
        .nav-bar-links {
            display: none;
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            width: 100%;
            margin: 0;
            margin-top: 0.3rem;
        }
    
        .nav-bar-links ul {
            width: 100%;
            flex-direction: column;
        }
    
        .nav-bar-links.active {
            display: flex;
        }
    
        .nav-link {
            text-align: center;
            padding: .1rem .2rem;
        }
    }

    /* CONTENIDO BODY */

    .influencer-name{
        margin:50px 76px 10px;
        
        font-size: 50px;
    }
    /* GALERIAA */
    .galeria{
        display: grid;
        margin:1px 80px;
        grid-template-columns: repeat(5, calc((100% - 40px) / 5));
        grid-template-rows: repeat(2, 300px);
        gap: 10px;
    }

    .fotito{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        transition:transform 0.3s ease-in-out;
        overflow: hidden;
    }

    .fotito img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .fotito:hover{
        transform: scale(1.02);
    }

    #ft1{
        grid-column:1/ span 3 ;
        grid-row:1/ span 2;
    }
    #ft2{
        grid-column:4/ span 1 ;
        grid-row:1/ span 1;
    }
    #ft3{
        grid-column:5/ span 1 ;
        grid-row:1/ span 1;
    }
    #ft4{
        grid-column:4/ span 2 ;
        grid-row:2/ span 1;
    }

    #myModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
  }
  
  .modal-content {
    width: 45%;
    margin: auto;
    display: block;
  }
  
  .close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  /* Info del influencer */

  .profile-div {
    display: flex;
    margin: 40px 76px; 
    flex-wrap: wrap; 
  }
  
  .profile-img {
    width: 100%;
    max-width: 100px; 
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .info-div {
    margin-top: 10px;
    margin-left: 25px;
  }

  .info-div h2{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .info-div h3{
    font-weight: 400;
    font-size: 24px;
    color:rgb(141, 139, 139);
  }
  p {
    margin:30px 76px;
    font-size: 24px;
  }
  
  @media (min-width: 768px) {
    .profile-div {
      margin: 40px 76px 10px;
    }
  }

  .links {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin: 60px 80px 40px;
    
  }
  
  .link-div {
    display: flex;
    align-items: center;
    width: 400px;
    height: 67px;
    padding: 20px;
    margin-right: 60px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #a2a1a0;
    border-radius: 10px;
    
  }
  
  .link-img {
    width: 30px;
    height: 30px;
    margin-right: 10px; 
    border-radius: 50%;
  }
  
  .link-text {
    font-weight: bold;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .links {
      flex-direction: column;
      align-items: flex-start; 
    }
  
    .link-div {
      margin-left: 0; 
      margin-top: 10px; 
      align-items: center; 
    }
  }

  /* Servicios del influencer */
  .services{
    margin: 40px 76px; 
  }

  .services-title{
    display: flex;
    gap:5px;
  }

  .services-title p{
    margin: 0;
    font-size: 14px;
    padding-top:13px;   
  }

  .filter-container {
    display: flex;
    gap:30px;
    margin: 20px 0px;
    }
    

    .category {
      cursor: pointer;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 10px;
      width: 120px;
      background-color: #b8b8b873; 
      color: #8e8888; 
      font-weight: 500;
      text-align: center;
    }
    
    .category.selected {
        background-color: #a571ad8b; 
        color: #fff; 
    }

    .items-container {
      display: flex;
      flex-wrap: wrap;
      gap: 100px;
      justify-content: center;
      padding-top: 50px;
    }

    .item {
        width: 600px;
        height: 180px;
        border: 1px solid #000000;
        border-radius: 5px;
        display: flex;
        padding: 20px;
        display:flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        transform: scale(1.2);
        margin:10px 20px;
    }



    .offer-title{
        display: flex;
        justify-content:space-between;
    }

    .offer-description{
        font-size: 14px;
        margin:0;
    }

    .offer-img {
        width: 30px;
        height: 30px;
        margin-right: 10px; 
        border-radius: 50%;
        }

    .offer-button {
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .offer-end{
        display: flex;
        justify-content: space-between;
    }